<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net472" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="mmi.utils" version="9.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NLog" version="4.6.8" targetFramework="net472" />
  <package id="NlogViewer" version="0.7.0" targetFramework="net472" />
  <package id="OneWireLinkLayer" version="4.1.6668.16481" targetFramework="net472" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net472" />
  <package id="slf4net.NLog" version="0.1.32.1" targetFramework="net472" />
  <package id="Tools.InnoSetup" version="5.5.9" targetFramework="net472" />
</packages>