<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NlogViewer" />
  </extensions>

  <variable name="appName" value="OneWireEEPROMTestTool" />
  <variable name="logsPath" value="logs" />
  
  <targets>
    <target xsi:type="NlogViewer" name="ctrl" />
    <target name="logfile" xsi:type="File" fileName="${logsPath}/${appName}.log" 
            layout="[${date:format=yyyy-MM-dd|HH\:mm\:ss.fff}]|${level}|${callsite:className=true:fileName=true:includeSourcePath=false:methodName=true}: ${message} ${exception:format=Type,Message,StackTrace,Data:innerExceptionSeparator=\n  -- Inner Exception follows --\n:maxInnerExceptionLevel=7:innerFormat=Type,Message,StackTrace,Data}" 
            archiveEvery="Day" 
            archiveNumbering="Sequence" 
            archiveFileName="${logsPath}/${appName}_${date:format=yyyy-MM-dd}-{##}.log" />
  </targets>
    
  <rules>
    <logger name="*" minlevel="Debug" writeTo="ctrl" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>