<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mmi.HcbProtocol" version="1.0.0" targetFramework="net472" />
  <package id="NLog" version="4.6.8" targetFramework="net472" />
  <package id="OneWireLinkLayer" version="4.1.6668.16481" targetFramework="net472" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net472" />
  <package id="slf4net.NLog" version="0.1.32.1" targetFramework="net472" />
</packages>